version: 2.1

orbs:
  aws-ecr: circleci/aws-ecr@9.8.1
  aws-cli: circleci/aws-cli@5.4.1
  aws-ecs: circleci/aws-ecs@7.2.0

parameters:
  role_arn:
    type: string
    default: "arn:aws:iam::313078327096:role/circleci-oidc-role"
    description: "If empty, the job will error and ask you to pass one."

jobs:
  lint_and_test:
    docker:
      - image: cimg/python:3.10
    steps:
      - checkout
      - run:
          name: Install linting tools
          command: |
            python -m pip install --upgrade pip
            pip install --no-cache-dir torch==2.9.1 --index-url https://download.pytorch.org/whl/cpu
            pip install -r requirements.txt
            pip install -r requirements-dev.txt
      - run:
          name: Run Black (format check)
          command: |
            black --check ./local_run.py
            black --check ./app/
      - run:
          name: Run Flake8 (linting)
          command: |
            flake8 ./local_run.py
            flake8 ./app/
      - run:
          name: Pytest (linting)
          command: python -m pytest
    

  assume-cicd-role:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - aws-cli/setup:
          role_arn: << pipeline.parameters.role_arn >>
          region: us-east-1
      - run:
          name: Verify identity
          command: aws sts get-caller-identity

  # build_and_push_image:
  #   docker:
  #     - image: cimg/base:stable
  #   steps:
  #     - checkout

  #     - aws-ecr/build_and_push_image:
  #         repo: artifacts/models
  #         region: us-east-1
  #         role-arn: << pipeline.parameters.role_arn >>
  #         tag: << pipeline.git.revision >>
  #         dockerfile: Dockerfile
  #         path: .
  #         create-repo: false

workflows:
  ci-workflow:
    jobs:
      - lint_and_test:
          name: lint-and-test
      - build_push_approval: # This is the approval job
          type: approval
          requires:
            - lint-and-test
      - aws-ecr/build_and_push_image:
          name: build-and-push-image
          account_id: ${AWS_ORG_ACCOUNT}
          requires:
            - build_push_approval
          auth:
            - aws-cli/setup:
                role_arn: << pipeline.parameters.role_arn >>
                region: ${AWS_REGION}
          repo: artifacts/models
          # repo: clinical-bert-prod/api-models
          region: ${AWS_REGION}
          tag: ${CIRCLE_SHA1}
          create_repo: false
          dockerfile: Dockerfile
          path: .
          context:
            - aws
      - aws-cli/setup:
          name: aws-auth
          role_arn: << pipeline.parameters.role_arn >>
          region: ${AWS_REGION}
          requires: build-and-push-image
          context:
            - aws
      - task-definition-update-approval: # This is the approval job
          type: approval
          requires:
            - aws-auth
      - aws-ecs/update_task_definition:
          name: task-definition-update
          family: clinical-bert-task
          region: us-east-1
          container_image_name_updates: >
            container=clinical-bert-task,image-and-tag=313078327096.dkr.ecr.us-east-1.amazonaws.com/artifacts/models:${CIRCLE_SHA1}
          requires:
            - task-definition-update-approval
      - ecs_service_update_approval: # This is the approval job
          type: approval
          requires:
            - aws-auth
      - aws-ecs/update_service:
          cluster: clinical-bert-cluster
          service_name: clinical-bert-service-fixed
          family: clinical-bert-task
          region: us-east-1
          requires:
            - ecs_service_update_approval

