version: 2.1

orbs:
  aws-ecr: circleci/aws-ecr@9.8.1 # https://circleci.com/developer/orbs/orb/circleci/aws-ecr

jobs:
  lint_and_test:
    docker:
      - image: cimg/python:3.10
    steps:
      - checkout

      - run:
          name: Install linting tools
          command: |
            python -m pip install --upgrade pip
            pip install black flake8 pytest fastapi

      - run:
          name: Run Black (format check)
          command: |
            black --check ./local_run.py
            black --check ./app/
      - run:
          name: Run Flake8 (linting)
          command: |
            flake8 ./local_run.py
            flake8 ./app/
      - run:
          name: Pytest (linting)
          command: pytest

  # test:
  #   docker:
  #     - image: cimg/python:3.10
  #   steps:
  #     - checkout
  #     - run:
  #         name: Install deps
  #         command: |
  #           pip install -r requirements.txt
  #     - run:
  #         name: Run tests
  #         command: pytest

workflows:
  ci-workflow:
    jobs:
      - lint_and_test:
          name: Lint and Test
      # - test:
      #     requires:
      #       - lint
