version: 2.1

jobs:
  lint:
    docker:
      - image: cimg/python:3.10
    steps:
      - checkout

      - run:
          name: Install linting tools
          command: |
            python -m pip install --upgrade pip
            pip install black flake8

      - run:
          name: Run Black (format check)
          command: |
            black --check ./local-run.py
            black --check ./app/
      - run:
          name: Run Flake8 (linting)
          command: |
            flake8 ./local-run.py
            flake8 ./app/

workflows:
  lint-workflow:
    jobs:
      - lint
